<div id="intro" class="bg-image">
    <div class="d-flex align-items-start h-100" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-md-8 text-light">
                    <div class="mt-5 p5-0">
                        <div class="text-center">
                            <p class="h1" id="register">Register</p>
                        </div>
                        <form (submit)="register()">
                            <div class="form-group">
                                <label class="mt-1 mb-1">Name</label>
                                <input type="text" [(ngModel)]="registerForm.name" name="name" id="" class="form-control" placeholder="John" required autofocus>
                            </div>
                            <div class="form-group">
                                <label class="mt-1 mb-1">Email</label>
                                <input type="email" [(ngModel)]="registerForm.email" name="email" id="" class="form-control" placeholder="example@email.com" required autofocus>
                            </div>
                            <div class="form-group">
                                <label class="mt-1 mb-1">Password</label>
                                <input type="text" [(ngModel)]="registerForm.password" name="password" id="" class="form-control" placeholder="password" type="password" required autofocus>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary btn-block">register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>